[user]
	name = Eugene Krinitsyn
	email = eugene.krinitsyn@gmail.com
[github]
	user = eugene-krinitsyn
[core]
	excludesfile = /Users/eugenekrinitsyn/.gitignore_global
	editor = /Applications/Sublime\\ Text.app/Contents/SharedSupport/bin/subl -w -n
[rerere]
	enabled = true
[pull]
	rebase = true
[status]
	showStash = true
[rebase]
	autostash = true
	autosquash = true
	abbreviateCommands = true
[stash]
	showPatch = true
[push]
	default = current
[difftool "Kaleidoscope"]
	cmd = ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\"
[difftool]
	prompt = false
[diff]
	tool = Kaleidoscope
[mergetool "Kaleidoscope"]
	cmd = ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" \"$REMOTE\"
[mergetool]
	prompt = false
[merge]
	tool = Kaleidoscope
[tig "color"]
	cursor = default default reverse
	id = yellow default
	title-focus = black green reverse
	author = white default
	date = cyan default
[difftool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/araxiscompare-w.sh -2 \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/araxisgitmerge-w.sh \"$REMOTE\" \"$BASE\" \"$LOCAL\" \"$MERGED\"
	trustExitCode = true
[commit]
	template = /Users/eugenekrinitsyn/.stCommitMsg
